<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alex.wingshooterspocketapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_winglogo"
        android:label="@string/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        android:largeHeap="true">

        <!-- Set default activity for launch -->
        <activity
            android:name=".LogRegMainActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- launch activities -->
        <activity
            android:name=".Home_Screen"
            android:exported="true" />
        <activity
            android:name=".LoginRegister"
            android:exported="true" />
        <activity
            android:name=".LogActivity"
            android:exported="true" />
        <activity
            android:name=".NewHunt"
            android:exported="true" />
        <activity
            android:name=".StartHunt"
            android:exported="true" />
        <activity
            android:name=".EmailHuntInfo"
            android:exported="true" />
        <activity android:name=".BirdIDFV" />
        <activity android:name=".PreviousHunts"></activity>
    </application>

</manifest>